<h1>Welcome to the show history page!</h1>
<h3>Here you will be able to view various venues around town and what bands have played there.</h3>
<h3>You will also be able to update venue and band information from their respective pages</h3>

<p><a href="/venues">View All Venues</a></p>